.online-list {
	header, div { @extend .clearfix; padding: 5px 10px; }
	
	div {
		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
		}
		
		&:hover { background: #f9f9f9; }
	}
	
	h2, span {
		text-align: center;
		
		&.name { @include span-columns(7); }
		&.level { @include span-columns(2); }
		&.vocation { @include span-columns(3); }
	}
}

.skill-list {
	@include span-columns(3);
	float: left;
	text-align: center;
	
	h3, a { @extend .clearfix; }
	
	a {
		display: block;
		padding: 5px 0;
		
		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
		}
		
		&:hover { background: #f9f9f9; }
	}
}

.highscore-list {
	@include span-columns(9);
	
	header, div { @extend .clearfix; padding: 5px 10px; }
	
	div {		
		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
		}
		
		&:hover { background: #f9f9f9; }
	}

	h1, h2, span { text-align: center; }
	
	h2, span {		
		&.skill, &.level { @include span-columns(2); }
		&.name { @include span-columns (9); }
		&.rank {
			@include span-columns (1);
			font-weight: 700;
		}
		&.experience { @include span-columns(3); }
	}

	&.level .name { @include span-columns (6); }
	
	.pager {
		@extend .clearfix;
		list-style: none;
		padding: 40px;
		
		& :first-child { float: left; }
		& :last-child { float: right; }
	}
}
